<%- include("header") -%>
<div class="login">Login</div>
<% if(messages.error){  %>
    <%=messages.error %>
<% } %>
<form action='/login' method = 'POST' >
    
    <div class="email">
        <label for = "email"> E-MAIL :  </label>
        <input type="email" placeholder="Enter mail-id"  id="email" name="email" required />
    </div>
    <div class="password">
        <label for = "password"> PASSWORD :  </label>
        <input type="password" placeholder="Enter Password"  id="password" name="password" required />
    </div>
    <button type="submit" class="loginbtn" >Login</button>
</form>

<a href="/register" class="regis">Register</a>