<h1>Register</h1>
<form action='/register' method = 'POST' >
    <div class="register">
        <label for = "name"> NAME :  </label>
        <input type="text" placeholder="Enter Name"  id="name" name="name" required />
    </div>
    <div class="email">
        <label for = "email"> E-MAIL :  </label>
        <input type="email" placeholder="Enter mail-id"  id="email" name="email" required />
    </div>
    <div class="password">
        <label for = "password"> PASSWORD :  </label>
        <input type="password" placeholder="Enter Password"  id="password" name="password" required />
    </div>
    <button type="submit" >Register</button>
</form>

<a href="/login" >Log In</a>